<footer class="header-footer-instructor">
  <div class="container">
    <p>&copy; 2024 <%= instructor.firstName %> <%= instructor.lastName %>. All Rights Reserved.</p>
    <nav>
      <ul>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>