<footer>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/copyright">Copyright</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </nav>
        <p>&copy; 2024 Online Learning Platform. All rights reserved.</p>    
    </div>
</footer>
