<!-- reset-password.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <main>
            <h1>Reset Password</h1>
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>
            <% if (resetToken) { %>
                <form action="/reset-password/<%= resetToken %>" method="POST">

                    <!-- Password-->
                    <div class="form-group">
                        <label for="password" id="titleLabel">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <!-- Password Retype-->
                    <div class="form-group">
                        <label for="password" id="titleLabel">Retype Password:</label>
                        <input type="password" id="passwordRetype" name="passwordRetype" required>
                        <small id="passwordMatchMessage"></small><!-- matching feedback -->
                    </div>

                    <div class="buttons single-button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            <% } else { %>
                <p>The reset token is invalid or has expired. Please request a new password reset.</p>
                <a href="/forgot-password">Request a new password reset</a>
            <% } %>
            <!-- Display error if any -->

            <% if (redirect) { %>
                <p>Password has been reset successfully. Redirecting to login in 3 seconds...</p>
                <script>
                    setTimeout(function() {
                        window.location.href = '/login';
                    }, 3000);
                </script>
            <% } %>

        </main>
    </div>
    <%- include('partials/footer') %>
    <script src="/scripts/password-match.js"></script>
</body>
</html>
