<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
    <body>
        <%- include('partials/header') %>
        <div class="container">
            <main>
                <h1>Terms of Service</h1>
                <p>By using this platform, you agree to follow our terms and conditions.</p>
            </main>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>